<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>466856802477-983h939p8ovugaijslirs16tanjf3pe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466856802477-983h939p8ovugaijslirs16tanjf3pe1</string>
	<key>API_KEY</key>
	<string>AIzaSyBeVnEg7O2fIBVhy_kBluiY-Hu7Kobk91o</string>
	<key>GCM_SENDER_ID</key>
	<string>466856802477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toggl.superday.adhoc</string>
	<key>PROJECT_ID</key>
	<string>toggl-superday</string>
	<key>STORAGE_BUCKET</key>
	<string>toggl-superday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466856802477:ios:d76c6b519aca1ef6</string>
	<key>DATABASE_URL</key>
	<string>https://toggl-superday.firebaseio.com</string>
</dict>
</plist>